{% extends 'app.twig' %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <form method="post" product="/products/{{ product.id }} ?>">
        <button type="submit" onclick="return confirm('Are you sure You want to delete this Product?')">delete</button>
    </form>
    (<a href="/">Back</a>)
{% endblock %}